:root {
    --normal-font: 1rem;
    --large-font: 2rem;
    --padding: clamp(10px, 1rem, 1rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body,
html {
    background-image: url("../src/images/background.jpg");
    background-position: 50%;
    background-size: contain;
    margin: 0px;
}

body > div#content{
    display: grid;
    grid-template-rows: 10% 85% 5%;
    min-height: 100vh;
}

/*HEADER*/
.header {
    background: transparent;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    padding: var(--padding);
}

.header > div > img {
    width: clamp(2rem, 4rem, 5rem);
    border: 2px solid #000;
    border-radius: 90%;
    scale: 85%;
}

.header .store_name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-weight: 1000;
    font-size: 2rem;
}

.header button {
    border: 2px solid #000;
    border-radius: 3rem;
    height: clamp(40px, 3rem, 80%);
    align-self: center;
    margin-right: clamp(5px, 1rem, 2rem);
    max-width: 180px;
    background: rgba(200,200,200,.9);;
}

button:hover,
#github:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

/*FOOTER*/
.footer {
    justify-self: bottom;
    margin: 0;
    background: rgba(100,100,100,1);
    color: white;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 25px;
    max-height: 25px;
}

.footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--normal-font);
    gap: 10px;
}

#github {
    position: 0px 5px;
    font-size: 1.6rem;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}

/*MAIN PAGE*/
.main-page {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: transparent;
    padding: var(--padding);
    gap: clamp(1rem, 5px, 2rem);
    row-gap: clamp(3px, 6px, 9px);
}

.hours,
.location {
    grid-row: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hours > div,
.location > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 5px, 2rem);
    padding: 2rem;
    font-size: var(--normal-font);
    border: 2px solid black;
    border-radius: 20px; 
    background-color: rgba(200,200,200,.9);
}

.main-page > div > div > #title {
    font-size: var(--large-font);
    font-weight: 600;
}

.main-page > div > #splash {
    padding: .9rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 20px; 
    background-color: rgba(200,200,200,.9);
}

.main-page > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page > div > img{
    width: clamp(300px, 90%, 100%);
    border: 2px solid #000;
    border-radius: 10px;
}

/*MENU*/

/*Window Size Adaptability*/
@media(max-width: 700px){
    .main-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}

@media(min-width: 1200px){
    .main-page {
        max-width: 1200px;
        justify-self: center;
    }

    .header {
        min-width: 1200px;
        justify-self: center;
    }
}

/*NAVIGATION ID*/
#viewable {
    /*unused*/
}

#hidden{
    display: none;
    cursor: none;
    user-select: none;
}